@charset "EUC-KR";


.title{
    text-align : center;
	font-size: 30px;
}



.link{
  position: relative;
  left : 85%;
  color: #fff;
  height: 35px;
  width: 80px;
  border: 1px solid  #009879; ;
  background: #009879;;
  color: #fff;
  border-radius: 0 5px 5px 0;
}


.login{
  position: relative;
  left : 75%;
  color: #fff;
  height: 35px;
  width: 80px;
  border: 1px solid  #009879; ;
  background: #009879;;
  color: #fff;
  border-radius: 0 5px 5px 0;
}



.favoritebook{
  position: relative;
  top: 0px;
  padding: 20px 30px;
}


.styled-table{
	position: relative;
  padding: 20px 30px;
  left:20%;
  margin-top: -5% ;
	
}


.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody td {
	text-align: center;
}
    

.book1{
  position: relative;
  left : 50%;
  top : -200px;
  text-align: center;
  width:700px;
}

.bookstyle thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.bookstyle th,
.bookstyle td {
	border-bottom: 1px solid #dddddd;	
    padding: 8px 15px;
    text-align: center;
}
.bookstyle tbody tr:nth-of-type(even) {
	    background-color: #f3f3f3;
}

.bookimage{
	width: 100px;
	height: 130px;
}


