@charset "EUC-KR";


.login{
  position: relative;
  left : 73%;
  color: #fff;
  height: 35px;
  width: 80px;
  border: 1px solid  #009879; ;
  background: #009879;;
  color: #fff;
  border-radius: 0 5px 5px 0;
}