/* bookdetail.jsp > css */

/* contentsection */
.contentsection {
	margin-left: -20px !important;
	margin-top: -10px !important;
	max-width: 74%;
}

.table tbody tr td {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* 이미지 셀 */
table td:nth-child(1) { width: 180px; }

/* 텍스트 셀 */
table td:nth-child(2) { width: 520px; }

/* 텍스트 margin */
table td:nth-child(2) div { margin: 5px 15px; }

/* 수량 및 버튼 셀 */
table td:nth-child(3) {
	width: 150px;
	text-align: center;
}

/* 이미지 */
table td .image { width: 180px; }

/* 텍스트 > 제목 */
table td .title { font-size: 2em; }

/* 텍스트 > 한줄카피 */
table td .copy {
	font-size: 1.2em;
	font-weight: bold;
	color: black;
}

/* 텍스트 > 정가 + 가격 */
table td .priceinfo .price { font-size: 0.9em; }

/* 텍스트 > 판매가 */
table td .priceinfo .saleprice {
	font-size: 1.3em;
	margin-left: 50px;
}

/* 텍스트 > 판매가격 */
table td .priceinfo .saleprice strong {
	color: red;
	font-size: 1.5em;
}

/* 적립금 */
table td .priceinfo .savepoint {
	display: inline-block;
	margin-left: 15px;
}

/* 수량 > div */
table td .amount { margin-top: 50px; }

/* 수량 > + , - 버튼 */
table td .amount input[type=button] { outline: none !important; }

/* 수량 > 텍스트박스 */
table td .amount input[type=text] {
	width: 50px;
	height: 30px;
	text-align: right;
}

/* 버튼 */
table td .btns button {
	display: block;
	margin: 7px auto;
	outline:none !important;
}

/* 목차 제목 */
table td .index strong {
	display: block;
	margin: 10px 0 10px 0;
}
