/*

	큐레이션레터 CSS
	
	1. 큐레이션레터 목록조회
	2. 큐레이션레터 작성
	3. 큐레이션레터 상세조회

*/

h3 {
    margin-bottom:30px;
    margin-left:auto;
    margin-right:auto;
}

#btn {
	width:100%;
	text-align:center;
}

#logtbl th, td {
	text-align:center;
}

#logtbl td {
	vertical-align:center;
}

/* 2. 큐레이션레터 작성 */



#example {
    width:100%px;
    background-color:rgba(91, 142, 125, .2);
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
    padding:50px;
}

/* 3. 큐레이션레터 상세조회 */

#lettertbl th {
	text-align:center;
}

#lettertbl td {
	text-align:left;
}