@charset "UTF-8";

h5 {
	margin-top: 50px;
}

span{
	margin: 0px 5px;
}

input[type="radio"]{
	margin-right: 5px;
}

#submit-btn{
	margin-left: 780px;
	
}

/*custinfo css*/
#idtbl tr:nth-child(2) a {
	margin-left: 360px;	 
}

/*custinfoedit css*/
#editidtbl a {
	margin-left: 250px;
}

/*텍스트 박스 크기*/
.info-sm{
	width: 70px	
}

.info-md{
	width: 150px;
}

.info-lg{
	width: 260px;
}
