@charset "UTF-8";

/*마이페이지 메인 화면 css 파일*/
#content {
	width: 1000px;
	height: 500px;
	display: inline-block;
	position: relative;
	top:  -50px;
	left: 100px;
	
}

.contentsbox {
	width: 850px;
	height: 200px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	
}

.contentsbox>a {
	position: relative;
	text-align: right;
	left: 500px;
}

.contentsBox>span{
	width:300px;
	/* border: 1px solid black;  */
}

.contentsBox > h3{
 	width:300px;
	float: left;
}

.contentsBox > a{
	position: relative;
	left: 500px;
	top:40px;
	
}
