article{
	margin: 0 auto;
	width:1000px;
	margin-bottom: 60px;
}

.img-orderstate{
	background-image: url(/bookjuck/image/credit-card1.png);	
}

.btn1{
    background-color: #EFEFEF;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 3px;  
}

.btn1:hover{
    color: #555;
    font-weight: normal;
}



.not-login {
    position: relative;
    bottom: -35px;
    left: -50px;
    height: 35px;
    background-color: RGBA(244,162,89,.1);
    width: 1000px;
    padding-top: 6px;
    padding-left: 60px;
}


.agreebox span{
	font-size: 16px;
	position: relative;
	bottom: -3px;
	left: 5px;
}

.agreebox textarea{
	width: 1000px;
	height: 200px;
	padding: 13px;
	font-size: 13px;
	outline: none;
	border: 3px solid #DDD;
	border-radius: 3px;
	line-height: 20px;
	color: #888;
}

.agreebox .agree2{
	margin-top: 30px;
}

.agreecheckbox{
	margin-top: 10px;
}

.agreecheckbox input[id="agreecheck"] {
    position: relative;
    top: 1.2px;
}

.tbl-non-orderer{
	border-top: 1px solid #DDD;
	text-indent: 17px;	
}

.tbl-non-orderer tr td:first-child{
	width: 200px;
	border-right: 1px solid #DDD;
	vertical-align: middle;
}

.tbl-non-orderer tr:nth-child(2) td
,.tbl-non-orderer tr:nth-child(3) td
{
	border-top: 0;
}

.tbl-non-orderer input{
	padding: 6px 5px;
	width: 160px;
}

delivery-type-bar ul li{
	width: 25%;	
	
}